<html>
    <head>
        <title>Mini Message Board</title>
    </head>
    <body>
        <ul>
            <% messages.forEach((message) => { %>
                <%- include('message', {message: message}) %>
            <% }) %>
        </ul>
        <a href="/new">Add New Message</a>
    </body>
</html>