<div>
    <h2><%= message.text %></h2>
    <h3>Created By: <%= message.username %></h3>
    <span>At: <%= message.added %></span>
    <% if (hideOpen) { %>
        <a href="/">Go Home</a>
    <% } else { %> 
        <a href="/messages/<%= message.id %>">Open</a>
    <% } %>    
</div>